/* ***************DEFAULT ****************** */
@import "./fonts.css";
@import "./container.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 400;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue: #1881e2;
  --linear-blue: linear-gradient(344.32deg, #1881e2 -21.59%, #5accf0 78.06%);
  --dark-blue: #071141;
  --border-grey: #f2f2f2;
  --white: #ffffff;
  --linear-grey: rgba(0, 32, 51, 0.6);
  --green: #08a071;
  --linear-brown: linear-gradient(180deg, #ffdba9 0%, #d5ab71 100%);
  --radial-blue: radial-gradient(
    175.94% 172.82% at 16.98% -14.71%,
    #ceedff 0%,
    #c5e7ff 46.27%,
    #79c3fe 100%
  );
  --radial-pink: radial-gradient(
    175.94% 172.82% at 16.98% -14.71%,
    #fff3f3 0%,
    #ffeaea 46.27%,
    #ffc8c8 100%
  );
  --light-brown: #ffdba9;
  --brown: #dabd95;
  --light-green: #33bf24;
  --linear-green: rgba(51, 191, 36, 0.1);
}

/* ***************DEFAULT ****************** */
/* ***************HEADER****************** */

.header-topbar {
  border: 1px solid red;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  background-image: none;
}

.topbar-info {
  min-width: 260px;
  display: flex;
  align-items: center;
}

.topbar-img {
  border-style: none;
  width: 50px;
  height: 50px;
  border: none;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.topbar-text {
  display: flex;
  flex-direction: column;
}

.topbar-regText {
  color: var(--linear-grey);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}

.topbar-boldText {
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.header {
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  height: 80px;
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-top: 20px;
  width: 100%;
  height: 62px;
  border-radius: 21px;
  border: 1px solid;
  border-color: var(--brown);
}

.header-navigation__nb {
  width: 100%;
  height: 60px;
  border-radius: 21px;
  display: flex;
  align-items: center;
}

.header-navigation__nav {
  display: flex;
}

.header-navigation__home {
  height: 60px;
  width: 68px;
  background-image: url(../images/svgs/home-header.svg);
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  margin: 0 8px;
}

.header-navigation__item {
  padding: 0 31px;
  list-style: none;
  border-right: 1px solid;
  border-color: var(--border-grey);
  display: flex;
  align-items: center;
}

.header-navigation__item:last-child {
  border: none;
}

.header-navigation__link {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 60px;
  font-family: Inter;
  font-weight: 400;
}

/* ***************HEADER****************** */
/* ***************BUTTON GROUP****************** */

.appointment-btn {
  max-width: 265px;
  height: 60px;
  border-radius: 60px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  outline: none;
  border: none;
  width: 265px;
  background: linear-gradient(180deg, #ffdba9 0%, #d5ab71 100%);
  box-shadow: 0px 10px 20px rgba(126, 79, 16, 0.2),
    inset 0px -5px 8px rgba(255, 255, 255, 0.3);
}

.appointment-btn::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(4px);
  width: 203px;
  height: 9px;
  top: 0;
  top: -5px;
  left: 45px;
}

.banner-btn {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  outline: none;
  border: none;
  background: var(--linear-blue);
  box-shadow: inset 0px -6px 30px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-blur {
  width: 424px;
  height: 119px;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  padding: 16px;
}

.banner-btn::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(4px);
  width: 203px;
  height: 9px;
  top: 0;
  top: -5px;
  left: 45px;
}

.btn-arrow {
  margin-left: 20px;
  display: flex;
  width: 55px;
  height: 55px;
  background-image: url(/assets/images/svgs/IconBtnMd.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn-arrow::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background: linear-gradient(
    146.89deg,
    rgba(255, 255, 255, 0.8) 9.87%,
    rgba(255, 255, 255, 0.672) 96.14%
  );
  backdrop-filter: blur(24px);
  border-radius: 50%;
}

.btn-arrow::after {
  content: "";
  width: 10px;
  height: 16px;
  position: absolute;
  background-image: url("/assets/images/svgs/arrowRight.svg");
}

/* ***************BUTTON GROUP****************** */
/* ***************CSS TEXT AROUND TEXT ************* */
a.fx-Revolve:focus {
  box-shadow: 0 0 3pt 2pt #75acf8;
  position: relative;
  outline: 0;
}

a.fx-Revolve:focus:before {
  border-radius: inherit;
  content: "";
  width: calc(100% - 2.2em);
  height: calc(100% - 2.2em);
  margin: 1em;
  box-shadow: inset 0 0 3pt 2pt #75acf8;
  position: absolute;
  left: 0;
  top: 0;
}

/* ***************CSS TEXT AROUND TEXT ************* */
/* *************** SWIPER ************* */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  margin-top: 30px;
  padding: 50px 30px 0px 30px;
}

.banner-1 {
  background-image: url(../images/temporary/BannerHeader.webp) !important;
  background-size: cover !important;
}

.slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  height: 528px !important;
  align-items: center;
  width: 1440px !important;
  /* width: 70% !important; */
  border-radius: 40px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -330px;
  padding: 0 30px;
}

.btn-next,
.btn-prev {
  width: 108px;
  height: 112px;
  z-index: 1;
  top: 50%;
  background-image: url(/assets/images/svgs/bannerBtn.svg);
  transition: transform 1s linear;
}

.btn-img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #fff;
}

.btn-img::before {
  content: "";
  border-radius: 50%;
  width: 76px;
  height: 76px;
  position: absolute;
  background-color: #fff;
  border-style: none;
}

.btn-next:hover,
.btn-prev:hover {
  transform: rotate(180deg);
}

/* *************** SWIPER ************* */
/* 2nd Main Page INFO CLINIC SECTION */
.clinic-box {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
}

.bg-brown {
  background-image: url(/assets/images/images/bg-clinic-info.webp);
  background-repeat: no-repeat;
  background-position: center right;
}

.clinic-box__up {
  display: flex;
}

.clinic-box__down {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 45px;
}

.info-clinic {
  flex: 2;
  padding-right: 30px;
}

.clinic-title {
  color: #071141;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
}

.clinic-subTitle {
  margin-top: 20px;
  color: #071141;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
}

.clinic-p {
  margin-top: 20px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
}

.clinic-mark {
  flex: 1;
  border-radius: 30px;
  border: 2px solid;
  height: 154px;
  background-color: transparent;
  border: 2px solid;
  border-color: #eac89a;
  padding: 20px 30px;
  display: flex;
}

.mark-img {
  width: 112px;
  height: 112px;
  object-fit: contain;
}

.mark-textBox {
  max-width: 300px;
  margin-left: 16px;
}

.mark-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 32, 51, 0.6);
}

.mark-brown {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  background: linear-gradient(180deg, #ffdba9 0%, #d5ab71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mark-box {
  width: 19%;
}

.mark-box__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.mark-box__title {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #071141;
  text-transform: uppercase;
}

.mark-box__info {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 32, 51, 0.6);
}

/* INFO TABS */
.info-tabs {
  display: flex;
  margin-top: 100px;
  padding: 30px 45px;
  box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.info-tab {
  flex: 1;
  padding: 40px;
}

.info-tab__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #071141;
}

.info-tab__p {
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 32, 51, 0.6);
}

.info-tab__img {
  margin-top: 30px;
  border-radius: 20px;
  width: 370px;
  height: 240px;
  object-fit: cover;
}

/* CLINIF STAFF START*/

.clinic-staff__bg {
  margin-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/images/clinic-staff-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.clinic-staff {
  padding-top: 100px;
}

.staff-infoTabs {
  display: flex;
}

.staff-info {
  max-width: 767px;
  margin-right: 160px;
}

.staff-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #071141;
}

.staff-p {
  margin-top: 20px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
}

.staff-span {
  margin-top: 15px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #071141;
}

.staff-tab {
  display: flex;
  margin-top: 40px;
}

.staff-tabTitle {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #071141;
}

.staff-tabP {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 32, 51, 0.6);
}

.staff-tab__img {
  width: 110px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

/* CLINIF STAFF END */
.staff-box {
  margin-top: 20px;
}

.staff-title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 110%;
  color: #071141;
  width: 626px;
}

.staff-card {
  padding: 50px 30px 50px 80px;
  border: 1px solid #dabd95;
  border-radius: 40px;
  height: 506px;
  margin-top: 125px;
  display: flex;
  justify-content: space-between;
}

.mt-60 {
  margin-top: 60px !important;
}

.staff-card:first-child {
  margin: none;
}

.staff-name {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  color: #071141;
}

.staff-occupation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 32, 51, 0.6);
}

.staff-edu {
  display: flex;
  margin-top: 16px;
}

.staff-univTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #071141;
}

.staff-univP {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
}

.staff-univImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.staff-univText {
  margin: 12.5px 0;
  max-width: 400px;
}

.staff-list {
  width: 420px;
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 32, 51, 0.6);
}

.staff-list__blue {
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  color: #071141;
}

.staff-list__blue span {
  font-weight: 600;
  margin-left: 5px;
}

.staff-info__btn {
  padding: 20px 70px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #071141;
  background: linear-gradient(180deg, #ffdba9 0%, #d5ab71 100%);
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 30px;
}

.img-box {
  position: absolute;
  left: 43%;
}

.staff-img {
  position: relative;
  top: -157px;
  left: -50px;
}

/* CERTIFICATE SLIDER START */

.certificate-slider {
  margin-top: 30px;
  width: 325px;
  height: 310px;
  filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
}

.arrow-right,
.arrow-left {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 43%;
  background: url(/assets/images/svgs/ArrowSM.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.certificate-slide {
  width: 225px;
  height: 310px;
  flex-shrink: 0;
  width: 225px !important;
  height: 310px;
  position: relative;
  transition-property: transform;
}

.arrow-right {
  right: 275px;
}

.arrow-left {
  left: 275px;
  transform: rotate(180deg);
}

.cert-img {
  width: 225px;
  height: 310px;
  object-fit: cover;
}

.cert-pagination {
  width: 84px !important;
  height: 37px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #071141;
  background: #dabd95;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: unset !important;
}

.why-us__bg {
  margin-top: 170px;
  background-image: url(/assets/images/images/why-usbg.webp);
  height: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
}

.whyUs-box {
  height: 350px;
  width: 100%;
  border-radius: 40px;
  position: relative;
  top: -70px;
  background-image: url(/assets/images/images/whyUs-box.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}

.whyUs-box img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}

.whyUs-text__h3 {
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 100%;
  text-align: center;
  color: #071141;
  margin-top: 20px;
}

.whyUs-facts {
  margin-top: 140px;
}

.whyUs-facts__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #071141;
  width: 601px;
  margin-bottom: 40px;
}

.whyUs-fact {
  height: 152px;
  max-width: 712px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.whyUs-fact__img {
  width: 112px;
  height: 112px;
}

.whyUs-fact__text {
  margin-left: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: rgba(0, 32, 51, 0.6);
}

.whyUs-fact__text span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #071141;
}

.bg-grey {
  background-color: #f6f6f6;
  padding-top: 60px;
}

.tech-box {
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  height: 410px;
  padding: 50px;
  display: flex;
}

.tech-box__img {
  position: relative;
  max-width: 540px;
  height: 465px;
  top: -100px;
}

.tech-box__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #071141;
}

.tech-box__subTitle {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.tech-box__border {
  width: 80px;
  height: 3px;
  background: #ffdba9;
  margin-right: 16px;
}

.tech-box__span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  color: #071141;
}

.tech-box__p {
  margin-top: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
}

.quality-control__bg {
  background-image: url(/assets/images/images/qc-bg.webp);
  height: 800px;
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  background-position: -100px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.quality-control {
  width: 631px;
}

.qc-h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #071141;
}

.qc-box {
  margin-top: 60px;
  display: flex;
}

.qc-box__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.qc-box__rt {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 32, 51, 0.6);
}

.qc-box__bt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #071141;
}

.time-box {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
  width: 285px;
  height: 330px;
  position: relative;
  top: 120px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.time-box img {
  width: 48px;
  height: 48px;
}

.time-box__span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #071141;
  margin-top: 15px;
}

.time-box__brown {
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #d4ab71;
}

.time-box p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: rgba(0, 32, 51, 0.6);
  margin-top: 15px;
}

.qc-img {
  position: relative;
  width: 268px;
  height: 410px;
  left: 1330px;
  top: -180px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* Consult Box */
.consult-box__bg {
  display: flex;
  margin-top: 110px;
}
.consult-box__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 110%;
  color: #dabd95;
  padding: 0px 180px 0px 440px;
}
.consult-box {
  height: 700px;
  width: 100%;
  margin-top: 40px;
  background: linear-gradient(
    180deg,
    rgba(255, 220, 173, 0.4) 0%,
    rgba(250, 200, 131, 0.71) 100%
  );
  padding: 70px 80px 70px 0;
  border-radius: 70px;
  display: flex;
}
.consult-box__img {
  flex: 1;
}
.consult-box__img_dot {
  width: 179.69px;
  height: 139px;
  position: relative;
  left: 50px;
}
.consult-box__img_doc {
  position: relative;
  top: -180px;
}
.consult-box__img_tab {
  border: 1px solid #d4ab71;
  width: 245px;
  height: 108px;
  border-radius: 80px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  position: relative;
  top: -750px;
  left: 410px;
}
.consult-box__tab_div {
  width: 100%;
  height: 92px;
  background: linear-gradient(
    146.89deg,
    rgba(255, 255, 255, 0.8) 9.87%,
    rgba(255, 255, 255, 0.672) 96.14%
  );
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}
.consult-box__tab_span1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #002033;
}
.consult-box__tab_span2 {
  margin-top: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: rgba(0, 32, 51, 0.6);
}
.consult-box__tab_span3 {
  margin-top: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #071141;
}
.consult-box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 685px; */
  flex: 1;
}
.consult-box__span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  color: #071141;
}
.consult-box__p {
  margin-top: 40px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #071141;
}
.consult-inputBox {
  margin-top: 30px;
  background: #ffffff;
  border-radius: 60px;
  width: 670px;
  height: 110px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consult-input {
  flex: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #071141;
  height: max-content;
  border: none;
  outline: none;
}
.consult-input:focus {
  border: none;
}
.consult-input::placeholder {
  color: #000;
}
.consult-btn {
  flex: 1;
  text-transform: uppercase;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  background: linear-gradient(180deg, #f7bf73 0%, #db9639 100%);
  box-shadow: inset 0px -6px 30px rgba(255, 255, 255, 0.5);
  border-radius: 60px;
  border: none;
  outline: none;
  height: 102px;
}
.consult-check {
  width: 20px;
  height: 20px;
}
.consult-agreement__p {
  margin-left: 14px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #071141;
}
.consult-agreement__p span {
  margin-left: 5px;
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #00203399;
  text-decoration: underline;
}
.flex {
  display: flex;
  margin-top: 20px;
}
/* Consult Box */
.often-questions {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.questions__title {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #071141;
  width: 330px;
}
.questions__p {
  margin-top: 20px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
  width: 288px;
}

/* Often question */

.questions__phoneBox {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ffdba9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30px;
  top: -30px;
}
.questions__phoneBox_inner {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #ffdba9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questions__phoneBox_innerContent {
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, #ffdba9 0%, #d5ab71 100%);
  box-shadow: inset 0px -4px 20px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questions__imgBox {
  width: 469px;
  height: 293px;
  background: #f2f2f2;
  border-radius: 60px;
  display: flex;
  margin-top: 60px;
}
.questions__img {
  width: 345px;
  height: 345px;
  object-fit: cover;
  position: relative;
  top: -53px;
}
/* Often question */
.often-accordion {
  flex: 1;
  margin-left: 80px;
}
/*accordion*/
.accordion {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #f2f2f2;
}

.accordion-item {
  border-bottom: 1px solid #f2f2f2;
  padding: 25px 0;
}

/* Thumb */
.accordion-thumb {
  margin: 0;
  cursor: pointer;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #071141;
  padding-left: 13px;
}
.accordion-thumb::before {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/svgs/+.webp);
  height: 24px;
  width: 24px;
  transition: transform 0.2s ease-out;
  position: relative;
  left: -20px;
}

/* Panel */
.accordion-panel {
  margin: 0;
  padding: 20px 44px;
  padding-bottom: 0.8rem;
  display: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(0, 32, 51, 0.6);
}

/* Active */
.accordion-item.is-active .accordion-thumb::before {
  background-image: url(/assets/images/svgs/-.webp);
}

/*accordion*/
/* FOOTER */
.footer-map {
  position: relative;
  overflow: hidden;
  height: 760px;
  margin-top: 99px;
}
.map-info {
  width: 415px;
  height: 479px;
  background: #ffffff;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  z-index: 5;
  top: -730px;
  padding: 40px;
}
.map-info h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #071141;
}
.map-info__contacts {
  margin-top: 30px;
  display: flex;
  height: 52px;
}
.map-info__img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1.5px solid #ffdba9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
.map-info__text {
  display: flex;
  flex-direction: column;
}
.map-info__text span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.6);
}
.map-info__text p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: #071141;
}
.map-info__btn {
  width: 100%;
  margin-top: 40px;
  height: 90px;
  background: #fcd700;
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
}
.map-info__btn img {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.map-info__btn_text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.map-info__btn_text span {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: #071141;
}
.map-info__btn_text p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: #071141;
}
.map-img {
  width: 415px;
  height: 210px;
  background: #ffffff;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: relative;
  z-index: 5;
  top: -720px;
  border: 5px solid #fff;
  display: flex;
}

.map-img img {
  width: 405px;
  height: 200px;
  object-fit: cover;
}
.footer-map__contacts {
  padding-left: 200px;
}
.footer {
  height: 320px;
}
.footer-contact {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}
.footer-logo {
  display: flex;
}
.footer-logo p {
  width: 167px;
  margin-left: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(0, 32, 51, 0.6);
}
.footer-phone {
  display: flex;
}
.footer-phone__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 15px;
  width: 100%;
}
.footer-phone__text span {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #071141;
}
.footer-phone__text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(0, 32, 51, 0.6);
}
.footer-social__img {
  margin-left: 70px;
}
.footer-social__img img {
  margin-left: 10px;
}
.footer-social {
  display: flex;
}
.footer-nav {
  height: 105px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
}
.footer-nav ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-link {
  padding: 20px;
  list-style: none;
}
.footer-link a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 32, 51, 0.6);
  text-decoration: none;
  cursor: pointer;
}
.footer-copywrite{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copywrite-nav ul{
  display: flex;
}
.footer-copywrite p{
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #BDBDBD;
}
.copywrite-link{
  padding: 20px;
  list-style: none;
}
.copywrite-link a{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #BDBDBD;
  text-decoration: none;
}
/* FOOTER */
/* 2nd Main Page INFO CLINIC SECTION END */
