@media(max-width: 1440px) {
    .header-navigation__item {
        padding: 0 26px;
    }
}

@media screen and (max-width: 1379px) {
    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-navigation__nav {
        display: flex;
        align-items: center;
    }

    .header-navigation__item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
    }

    .header-navigation__link {

        line-height: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .qc-img {
        display: none;
    }

    .swiper-scrollbar-drag {
        width: 200px !important;
    }

    .whyUs-box {
        margin-top: 0;
    }

    .header-navigation__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-navigation__item {
        padding: 0 5px;
    }

    .header-navigation__link {
        font-size: 14px;
        line-height: 30px;
    }

    .header-navigation__home {
        width: 20px;
        height: 20px;
        background-size: contain;
    }

    .swiper-container {
        width: 100% !important;
    }

    .slide {
        width: 100% !important;
    }

    .banner-1 {
        width: 100% !important;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-tab__title {
        font-size: 13px;
    }

    .main-tab__subtitle {
        font-size: 11px;
    }

    .services-clinic__title {
        font-size: 40px;
    }

    .services-clinic__subtitle {
        font-size: 20px;
        line-height: 20px;
    }

    .service-tab {
        border-radius: 10px;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .service-tab__text_span {
        font-size: 24px;
    }

    .service-tab__text p {
        font-size: 14px;
    }

    .mark-p {
        font-size: 14px;
    }

    .clinic-mark {
        padding: 10px 20px;
    }

    .mark-brown {
        font-size: 14px;
    }

    .clinic-title {
        font-size: 40px;
    }

    .clinic-subTitle {
        font-size: 20px;
        line-height: 24px;
    }

    .clinic-p {
        font-size: 14px;
        color: rgba(8, 46, 67, 1.6);
    }

    .mark-box__title {
        margin-top: 15px;
        font-size: 14px;
    }

    .mark-box__info {
        font-size: 12px;
    }

    .info-tabs {
        width: 100%;
        padding: 0;
    }

    .info-tab {
        padding: 20px;
    }

    .info-tab__title {
        font-size: 18px;

    }

    .info-tab__p {
        font-size: 14px;
    }

    .info-tab__img {
        width: 100%;
        height: 180px;
    }

    .clinic-staff {
        width: 100%;
    }

    .staff-infoTabs {
        display: flex;
        justify-content: space-between;
    }

    .staff-info {
        width: 100%;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .staff-tabs {
        width: 100%;
    }

    .staff-tab {
        width: 100%;
        margin-top: 20px;
    }

    .staff-tabTitle {
        font-size: 18px;
        line-height: 24px;
    }

    .staff-tabP {
        font-size: 14px;
        line-height: 18px;
    }

    .staff-title {
        font-size: 38px;
    }

    .staff-p {
        margin-top: 10px;
        font-size: 18px;
    }

    .staff-span {
        font-size: 18px;
    }

    .whyUs-text__h3 {
        font-size: 45px;
    }

    .whyUs-box {
        height: 300px;
    }

    .whyUs-facts__title {
        font-size: 45px;
    }

    .tech-box__title {
        font-size: 30px;
    }

    .tech-box__span {
        font-size: 16px;
    }

    .tech-box__p {
        font-size: 14px;
    }

    .tech-box__img {
        max-width: 440px;
        height: 365px;
        top: -50px;
    }

    .qc-img {
        display: none;
    }

    .consult-box__span {
        font-size: 36px;
    }

    .consult-box__p {
        font-size: 16px;
    }

    .consult-box__text {
        width: 48%;
    }

    .consult-inputBox {
        width: 100%;
        height: 80px;
    }

    .consult-input {
        width: 65%;
    }

    .consult-btn {
        height: 80px;
        font-size: 16px;
        line-height: 18px;
        text-transform: capitalize;
    }

    .consult-box__img {
        width: 48%;
    }

    .consult-box {
        padding: 20px;
    }

    .consult-box__title {
        font-size: 36px;
    }

    .review-slide {
        width: 30% !important;
    }

    .questions__title {
        font-size: 40px;
    }

    .questions__p {
        font-size: 18px;
    }

    .accordion-thumb {
        font-size: 18px;
    }

    .accordion-panel {
        font-size: 16px;
    }

    .accordion-thumb::before {
        content: "";
        display: inline-block;
        background-image: url(../images/svgs/+.webp);
        height: 20px;
        width: 20px;
        transition: transform 0.2s ease-out;
        position: absolute;
        left: 20px;
        background-size: cover;
        margin-top: 3px;
    }

    .accordion-item {
        padding: 15px 0;
    }

    .questions__phoneBox {}

    .footer-social__img {
        margin-left: 40px;
    }

    .footer-social__img img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {

    .mySwiper {
        padding: 0 16px !important;
    }

    .comment-person__date {
        align-items: start;
    }

    .comment-person__star img {
        width: 25px;
    }

    .comment-person__name {
        font-size: 16px;
    }

    .comment-person__date span {
        font-size: 16px;
    }

    .comment-rate {
        width: 100%;
    }

    .comment-img {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .comments-title {
        font-size: 32px;
    }

    .comment {
        padding: 10px 15px;
        border-radius: 10px;
    }

    .equipment-info__subtitle {
        margin-top: 10px;
    }

    .clinic-staff__bg {
        padding-bottom: 0;
    }

    .whyUs-fact__img {
        width: 70px;
        height: 70px
    }

    .services-clinic {
        margin-top: 50px;
    }

    .services-clinic__title {
        line-height: 90%;
        font-size: 34px;
    }

    .service-tab {
        height: 100%;
        padding: 20px 16px;
    }

    .service-tab__text_span {
        display: flex;
        align-items: center;
    }

    .service-tab__text p {
        margin-top: 10px;
    }

    .clinic-box__down {
        margin-top: 40px;
    }

    .info-tabs {
        margin-top: 50px;
    }

    .clinic-staff__bg {
        margin-top: 50px;
    }

    .info-tab__title {
        font-size: 20px;
    }

    .staff-span {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .staff-tab {
        margin-top: 30px;
    }

    .whyUs-facts {
        margin-top: 60px;
    }

    .qc-box__img {
        width: 60px;
        height: 60px;
    }

    .consult-box__title {
        font-size: 32px;
    }

    .consult-check {
        width: 15px;
        height: 15px;
    }

    .consult-agreement__p {
        font-size: 13px;
        margin-left: 5px;
    }

    .consult-agreement__p span {
        padding-left: 5px;
        font-size: 13px;
        display: contents;
    }

    .consult-box {
        border-radius: 20px;
    }



    .mySwiper {
        /* display: none; */
    }


    .time-box {
        top: 270px;
    }

    .quality-control__bg {
        background-position: -440px;
    }

    .tech-box {
        height: 100%;
    }

    .why-us__bg {
        height: 100%;
        padding-bottom: 50px;
    }

    .swiper-scrollbar-drag {
        width: 100px !important;
    }

    .header-navigation {
        height: 50px;
    }

    .header-navigation__link {
        font-size: 12px;
        line-height: 14px;
    }

    .header-navigation__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .plr-20 {
        padding: 0 !important;
    }

    .topbar-regText {
        font-size: 12px;
    }

    .topbar-boldText {
        font-size: 16px;
    }

    .topbar-img {
        width: 35px;
        height: 35px;
    }

    .header-logo {
        width: 150px;
    }

    .topbar-info {
        width: unset;
    }

    .header-logo img {}

    .main-tab {
        flex-direction: column;
    }

    .main-tab__text {
        margin-top: 20px;
    }

    .staff-info {
        margin-right: 40px;
        width: 48%;
    }

    .comments-rates {
        width: 100%;
    }

}

@media screen and (max-width: 650px) {
    .map-img {
        display: none;
    }

    .contact {
        margin-bottom: 30px;
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .accordion-thumb {
        display: flex;
    }

    .accordion-thumb div {
        margin-left: 10px;
    }

    /* .accordion-thumb::before {
        left: -5px;
        top: 2px;
    } */

    .comments-container {
        flex-direction: column;
    }

    .review-btnText span {
        font-size: 18px;
    }

    .review-btnText {
        font-size: 18px;
    }

    .review-next,
    .review-prev {
        width: 40px;
        height: 40px;
        background-size: contain;
    }

    .questions__title {
        font-size: 32px;
    }

    .footer-phone__text span {
        font-size: 18px;
    }

    .footer-logo img {
        width: 170px;
    }

    .footer-logo p {
        width: 100%;
        margin: 0;
        margin-top: 15px;
        font-size: 14px;
    }

    .footer-phone__text p {
        font-size: 14px;
    }

    .footer-phone img {
        width: 50px;
    }

    .main-doc {
        display: none;
    }

    .logo-eye {
        width: 170px;
        height: 30px;
    }

    .main-tabs {
        margin-top: 30px;
    }

    .about-us__text span {
        margin-top: 15px;
    }

    .btn-blur {
        width: 100%;
        height: 50px;
        backdrop-filter: unset;
        padding: 0;
        justify-content: flex-start;
    }

    .banner-btn {
        position: unset;
        font-size: 12px;
        width: 75%;
        height: 100%;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .banner-1 {
        padding: 30px 16px;
        max-height: 290px !important;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/images/banner-mobile.png) !important;
    }

    .btn-arrow {
        width: 30px;
        height: 30px;
    }

    .btn-arrow::before {
        width: 20px;
        height: 20px;
    }

    .btn-arrow::after {
        content: "";
        width: 6px;
        height: 6px;
        position: relative;
        left: -1px;
        border-bottom: 2px solid #3DABEA;
        border-right: 2px solid #3DABEA;
        transform: rotate(-45deg);
        background-image: none;
    }

    .main-slider {
        width: 100%;
        left: unset;
    }

    .main-slider__title {
        font-size: 24px;
        width: 210px;
    }

    .main-slider__subtitle {
        font-size: 12px;
        margin-top: 10px;
        width: 210px;
        color: rgba(0, 32, 51, 1.6);
    }

    .btn-box {
        display: none;
    }

    .btn-next,
    .btn-prev {
        display: none;
    }

    .about-us {
        margin-top: 30px;
    }

    .accordion-thumb {
        padding: 0;
        padding-left: 20px;
    }

    .accordion-panel {
        padding: 0 5px;
        margin-top: 10px;
    }

    .mobile-logo {
        display: none;
    }

    .menu__mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .menu__mobile_button {
        position: absolute;
        height: 26px;
        width: 35px;
        cursor: pointer;
        background-color: transparrent;
        top: 25px;
        right: 20px;
    }

    .menu__mobile_button.active span {
        opacity: 0;
    }

    .menu__mobile_button.active.menu__mobile_button:before,
    .menu__mobile_button.active.menu__mobile_button:after {
        top: 40%;
    }

    .menu__mobile_button.active.menu__mobile_button:before {
        transform: rotate(45deg);
    }

    .menu__mobile_button.active.menu__mobile_button:after {
        transform: rotate(-45deg);
    }

    .menu__mobile_button span,
    .menu__mobile_button:before,
    .menu__mobile_button:after {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #DABD95;
        border-radius: 6px;
        opacity: 1;
    }

    .menu__mobile_button:before,
    .menu__mobile_button:after {
        content: "";
        transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu__mobile_button span {
        top: 50%;
        transform: translateY(-50%);
    }

    .menu__mobile_button:before {
        top: 3px;
    }

    .menu__mobile_button:after {
        top: calc(100% - 6px);
    }

    .header {
        height: 100%;
        min-height: 80px;
    }

    .header-navigation {
        height: 100%;
        border-color: transparent;
    }

    .header-navigation__nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .header-navigation__item {
        display: none;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }

    .header-navigation__link {
        display: table;
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        color: #071141;
        overflow: hidden;
    }

    .burger {
        width: 70px;
        height: 70px;
        display: block;
        background: #9e1326;
        -moz-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        position: absolute;
        top: 5px;
        right: -25px;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .burger i {
        display: block;
        width: 40px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .burger i:before,
    .burger i:after {
        content: '';
        position: absolute;
        height: 2px;
        background: #fff;
        width: 40px;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .burger i:before {
        margin-top: -12px;
    }

    .burger i:after {
        margin-top: 12px;
    }

    .burger:hover {
        background: #750e1c;
    }

    .burger:hover i:before {
        margin-top: -14px;
    }

    .burger:hover i:after {
        margin-top: 14px;
    }

    .burger.active {
        background: #9e1326;
    }

    .burger.active i {
        background: transparent;
    }

    .burger.active i:before,
    .burger.active i:after {
        left: -5px;
        width: 50px;
    }

    .burger.active i:before {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 12px;
    }

    .burger.active i:after {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -12px;
    }

    .burger.active:hover {
        background: #750e1c;
    }

    .burger.active:hover i:before,
    .burger.active:hover i:after {
        width: 60px;
        margin: 0;
        left: -10px;
        top: 0;
    }
}

@media screen and (max-width: 425px) {
    .service-tab__text {
        width: 66%;
    }

    .header-topbar {
        display: flex;
        justify-content: space-between;
    }

    .header-flex {
        flex-direction: column;
        width: 170px;
        align-items: end;
    }

    .topbar-text {
        flex-direction: column-reverse;
    }

    .topbar-boldText {
        line-height: 110%;
    }

    .header-logo {
        text-decoration: none;
    }

    .logo-text {
        display: flex;
        font-size: 15px;
        color: #071141;
        font-family: 'SF Pro Display';
        font-style: normal;
        text-decoration: none;
    }

    .topbar-img {
        display: none;
    }

    .topbar-info {
        min-width: unset;
        display: none;
        text-align: end;
    }

    .topbar-phone {
        display: flex;
    }

    .appointment-btn {
        height: 20px;
        font-size: 15px;
        background: none;
        color: #DABD95;
        box-shadow: none;
        padding: 0;
        text-decoration: underline;
        width: 120px;
    }

    .appointment-btn__icon {
        display: none;
    }

    .header-logo img {
        width: 150px;
    }

    .map-widget-layout-view__maps-links {
        display: none !important;
    }

    .mobile-logo {
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        /* display: none; */
    }

    .logo-phone {
        width: 50px;
    }

    .footer-map {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .footer-map__contacts {
        padding: 0 16px;
        margin-top: -60px;
    }

    .map-info {
        height: 100%;
        margin: 0 16px;
        margin: auto;
        position: relative;
        left: 0;
        top: 0;
        border-radius: 8px;
        padding: 20px 25px;
        margin-top: 20px;
        box-shadow: none;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 220, 173, 1) 0%, rgba(250, 200, 131, 0.71) 100%);
    }

    .map-info__btn {
        margin-top: 20px;
    }

    .map-info h3 {
        font-size: 22px;
    }

    .map-info__btn_text span {
        font-size: 16px;
    }

    .map-info__btn img {
        width: 40px;
        height: 40px;
    }

    .map-info__btn {
        width: 100%;
        margin-top: 20px;
        height: 60px;
        background: #fcd700;
        border-radius: 10px;
        padding: 10px 16px;
        display: flex;
    }

    .map-info__btn_text p {
        font-size: 14px;
    }

    .map-info__img {
        width: 40px;
        height: 40px;
    }

    .map-info__img img {
        width: 25px;
    }

    .map-info__text span {
        font-size: 14px;
    }

    .map-info__text p {
        font-size: 16px;
    }

    .map-info__contacts {
        margin-top: 15px;
    }

    .footer-map__iframe {
        height: 390px;
    }

    .clinic-box {
        margin-top: 40px;
    }

    .price-container {
        margin-top: 50px;
    }

    .price-accordion__head h2 {
        font-size: 18px;
    }

    .award-box__img img {
        width: 200px;
    }

    .oppor-img {
        width: 70px;
        height: 70px;
    }

    .oppor-img::before {
        width: 70px;
        height: 70px;
    }

    .oppor-imgInner {
        width: 50px;
        height: 50px;
    }

    .oppor-imgInner img {
        width: 40px;
        height: 40px;
        position: relative;
        left: 5px;
        top: 3px;
    }

    .comment-rate__text {
        font-size: 16px;
    }

    .comments-rates__title {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .comments-rate {
        width: 100%;
    }

    .comment-rate__textNum {
        font-size: 16px;
    }

    .comment-img {
        margin-left: 0;
    }

    .comment-img {
        margin-top: 30px;
    }

    .comment-img p {
        font-size: 16px;
    }

    .comment-img img {
        width: 80px;
    }

    .certificate-slider {
        display: none;
    }

    .vacancy-box__title {
        margin-top: 20px;
    }

    .vacancy-box {
        margin-top: 30px;
    }

    .vacancy-title {
        margin-top: 50px;
    }

    .vacancy-box__req {
        padding: 10px 15px;
    }

    .vacancy-box__desc {
        font-size: 16px;
    }

    .vacancy-box__subtitle {
        font-size: 20px;
    }

    .vacancy-box__title {
        font-size: 28px;
    }

    .vacancy-box__info {
        width: 100%;
    }

    .vacancy-box__icon {
        width: 70px;
        height: 70px;
    }

    .vacancy-box__icon::before {
        width: 40px;
        height: 40px;
    }

    .vacancy-box__icon img {
        width: 30px;
    }

    .service-box {
        margin-top: 50px;
    }

    .service-tabs {
        margin-top: 50px;
    }

    .service-doc {
        display: none;
    }

    .service-listBox {
        margin-top: 50px;
    }

    .service-listBox h2 {
        font-size: 28px;
    }

    .service-list {
        margin: 0;
        margin-top: 20px;
    }

    .sale-info__subtitle {
        font-size: 18px;
    }

    .sale-info__title {
        font-size: 22px;
        margin-top: 15px;
    }

    .sale-info__p {
        width: 100%;
    }

    .sale-btn {
        padding: 20px;
        width: 100%;
    }

    .sale-box {
        width: 100%;
        background-image: none;
        padding: 20px;
    }

    .sale-title {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: unset;
    }

    .review-container {
        margin-top: 50px;
    }

    .pagination-num {
        width: 28px;
    }

    .pagination-next,
    .pagination-prev {
        font-size: 0;
    }

    .pagination-next {
        padding: 0;
    }

    .pagination {
        width: 100%;
    }

    .appointment-btn2 {
        height: 50px;
        width: 100%;
        padding: 10px;
        justify-content: center;
        border-radius: 20px;
    }

    .leave-review__title {
        font-size: 28px;
    }

    .leave-review__subtitle {
        font-size: 16px;
    }

    .leave-review {
        padding: 20px;
        border-radius: 10px;
    }

    .leave-review__text {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leave-review img {
        display: none;
    }

    .comment-person__date {
        flex-direction: column;
    }

    .review-slide__box2 {
        width: 100%;
    }

    .service-box__text h1 {
        font-size: 28px;
    }

    .service-box__text span {
        font-size: 18px;
    }

    .service-box__text p {
        font-size: 16px;
    }

    .price-container__title {
        font-size: 18px;
    }

    .service-box__text {
        width: 100%;
    }

    .service-doc2 {
        display: none;
    }

    .service-tab__text_span {
        font-size: 20px;
    }

    .diagnose-slide__text h1 {
        font-size: 24px;
    }

    .diagnose-slide__text p {
        font-size: 18px;
    }

    .diagnose-slide {
        padding: 0;
        height: 100%;
        background-image: none;
        margin-bottom: 50px;
    }

    .diagnose-steps h2 {
        font-size: 24px;
    }

    .methods-steps__info {
        font-size: 16px;
    }

    .methods-steps h5 {
        font-size: 24px;
    }

    .diagnose-method {
        width: 100%;
        padding: 20px;
    }

    .diagnose-methods {
        flex-direction: column;
    }

    .price-box p {
        font-size: 16px;
    }

    .price-box span {
        font-size: 16px;
    }

    .diagnose-methods_p {
        font-size: 28px;
    }

    .diagnose-methods p span {
        font-size: 28px;
    }

    .diagnose-price__list p {
        /* font-size: 24px; */
    }

    .diagnose-step__text h4 {
        font-size: 24px;
    }

    .diagnose-.diagnose-step__text span {
        font-size: 18px;
    }

    .diagnose-step__text p {
        font-size: 14px;
    }

    .diagnose-step__box {
        width: 70px;
        height: 70px;
    }

    .diagnose-step__innerBox {
        width: 40px;
        height: 40px;
    }

    .diagnose-step__innerBox p {
        font-size: 20px;
    }

    .diagnose-step__text {
        width: 100%;
        margin-right: 0;
    }

    .diagnose-step__img {
        width: 100%;
    }

    .diagnose-step__info {
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .equipment-box__img img {
        width: 100%;
    }

    .equipment-box__tag {}

    .equipment-box {
        width: 100%;
        height: 892px;
        background-image: url("../images/svgs/equipment-box.webp");
        margin-top: 170px;
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .equipment-container {
        flex-direction: column;
    }

    .equipment-info__p {
        font-size: 18px;
    }

    .equipment-info__subtitle {
        font-size: 20px;
    }

    .equipment-info__title {
        font-size: 28px;
    }

    .m0 {
        margin-top: 50px !important;
    }

    .mt-60 {
        margin-top: 30px !important;
    }



    .staff-title {
        font-size: 20px;
        width: 100%;
    }

    .license-slide {
        width: 100% !important;
    }

    .doc-cert__slider {
        width: 100%;
        flex: unset;
    }

    .license-slider2 {
        width: 100%;
        margin-top: 20px;
    }

    .doc-cert__info {
        width: 100%;
    }

    .doc-cert {
        display: flex;
        flex-direction: column;
    }

    .doc-history h5 {
        font-size: 24px;
    }

    .doc-history p {
        font-size: 16px;
    }

    .doc-appBtn {
        height: 60px;
        width: 100%;
    }

    .doc-img {
        display: none;
    }

    .doc-edu__info p {
        font-size: 14px;
    }

    .doc-edu img {
        width: 50px;
    }

    .doc-info__title {
        font-size: 26px;
    }

    .doc-info__subtitle {
        font-size: 14px;
    }

    .shield-box__p {
        font-size: 14px;
    }

    .shield-box {
        margin-top: 20px;
    }

    .doc-info {
        width: 100%;
    }

    .single-doc {
        flex-direction: column;
    }

    .contact {
        margin-top: 50px;
    }

    .contact-address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .contact-phone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .contact-box {
        width: 100%;
        margin: 0;
    }

    .contact-map {
        margin-top: 30px;
        width: 100%;
        flex: unset;
    }

    .contact-title {
        font-size: 28px;
    }

    .contact-info__title {
        font-size: 20px;
    }

    .contact-info__p {
        font-size: 16px;
    }

    .contact-info__mark {
        font-size: 18px;
    }

    .contact-info {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    .about-cert__text p {
        font-size: 18px;
    }

    .about-cert__text h4 {
        font-size: 28px;

    }

    .award-box__text h2 {
        font-size: 28px;
    }

    .award-box__text p {
        font-size: 18px;
    }

    .oppor-title h3 {
        font-size: 24px;
    }

    .oppor-title p {
        font-size: 18px;
    }

    .about-us__text h1 {
        font-size: 28px;
    }

    .about-us__text span {
        font-size: 18px;
    }

    .about-us__text p {
        font-size: 18px;
    }

    .about-slide {
        width: 100% !important;
    }

    .about-next,
    .about-prev {
        display: none;
    }

    .about-slider {
        width: 100%;
    }

    .about-cert__text {
        width: 100%;
        margin-right: 0;
    }

    .about-certSlider {
        flex-direction: column;
    }

    .award-box {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .opportunity-box {
        margin-top: 50px;
    }

    .oppor-title {
        flex-direction: column;
    }

    .oppor-title h3 {
        width: 100%;
    }

    .oppor-title p {
        width: 100%;
    }

    .about-us__slider {
        width: 100%;
        margin-top: 20px;
    }

    .thumbSlider2 {
        width: 100% !important;
    }

    .thumb-next {
        left: 80%;
    }

    .thumb-prev {
        right: 80%;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us__text {
        width: unset;
    }

    .staff-card {
        padding: 15px 20px;
        height: unset;
        margin-top: 50px;
        border-radius: 20px;
        flex-direction: column-reverse;
    }

    .staff-img {
        width: 200px;
        position: unset;

        /* display: none; */
    }

    .img-box {
        position: unset;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .certificate-slider {
        /* display: none */
    }

    .staff-name {
        font-size: 20px;
    }

    .staff-occupation {
        font-size: 14px;
    }

    .staff-univImg {
        width: 50px;
        height: 50px;
    }

    .staff-univTitle {
        font-size: 14px;
    }

    .staff-univP {
        font-size: 12px;
    }

    .staff-univText {
        width: 100%;
    }

    .staff-card__info {
        width: 100%;
    }

    .staff-list {
        font-size: 12px;
        width: 100%;
    }

    .staff-edu {
        align-items: center;
    }

    .staff-list__blue {
        font-size: 12px;
    }

    .staff-info__btn {
        width: 100%;
        padding: 20px;
    }



    .main-tab__title {
        text-align: center;
    }

    .main-tab__subtitle {
        text-align: center;
    }

    .main-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mt-50 {
        margin-top: 15px !important;
    }

    .main-tab {
        width: 50%;
    }

    .qc-h2 {
        font-size: 28px;
    }

    .consult-box__bg {
        margin-top: 30px;
    }

    .time-box {
        width: 100%;
        position: unset;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: unset;
        height: 300px;
    }

    .quality-control {
        width: unset;
    }

    .flex-sb {
        flex-direction: column;
    }

    .quality-control__bg {
        background: none;
        height: unset;
        padding-top: 50px;
    }

    .qc-img {
        display: none;
    }

    .consult-box__title {
        padding: 0;
    }

    .review-slide {
        width: 100% !important;
    }

    .review-title {
        font-size: 24px;
    }

    .review-box {
        flex-direction: column;
    }

    .review-subtitle {
        font-size: 14px;
    }

    .review-textBox {
        margin: 0;
    }

    .review-btnText {
        font-size: 18px;
    }

    .review-btnText span {
        font-size: 18px;
    }

    .review-btn {
        width: 70px;
        height: 70px;
    }

    .review-btn::before {
        width: 70px;
        height: 70px;
    }

    .review-btnInner {
        width: 50px;
        height: 50px;
    }

    .review-btnInner img {
        width: 30px;
        height: 35px;
        position: relative;
        left: 4px;
        top: 3px;
    }

    .review-btnBox {
        margin-top: 20px;
    }

    .review-title {
        font-size: 24px;
    }

    .review-subtitle {
        font-size: 16px;
    }

    .consult-box__p {
        margin-top: 20px;
    }

    .flex {
        padding: 0;
    }

    .consult-btn {
        height: 80px;
        font-size: 10px;
        line-height: 18px;
        text-transform: capitalize;
    }

    .consult-inputBox {
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .consult-btn {
        margin-top: 10px;
        height: 56px;
        width: 100%;
        padding: 17px;
        font-size: 14px;
    }

    .consult-input {
        width: 100%;
        flex: 1;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #071141;
        height: max-content;
        border: none;
        outline: none;
        border-radius: 30px;
    }

    .consult-box {
        padding: 30px 20px;
    }

    .consult-box__span {
        font-size: 24px;
    }

    .consult-box {
        height: unset;
    }

    .consult-box__img_doc {
        display: none;
    }

    .consult-box__img_dot {
        display: none;
    }

    .consult-box__img {
        display: none;
    }

    .often-questions {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }

    .questions__phoneBox {
        width: 80px;
        height: 80px;
    }

    .questions__phoneBox_inner {
        height: 60px;
        width: 60px;
    }

    .questions__phoneBox_innerContent {
        width: 40px;
        height: 40px;
    }

    .questions__phoneBox_innerContent img {
        width: 20px;
    }

    .questions__img {
        width: 245px;
        height: 245px;
    }

    .questions__imgBox {
        width: 100%;
        height: 190px;
    }

    .questions__img {
        margin-left: 70px;
    }

    .copywrite-link {
        padding: 5px;
    }

    .copywrite-nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .copywrite-nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-copywrite {
        flex-direction: column;
        align-items: start;
    }

    .footer-link {
        padding: 5px;
    }

    .footer-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* align-items: center; */
    }

    .footer-nav {
        height: unset;
        margin-top: 15px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 20px;
        height: unset;
        border-color: transparent;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .footer-logo p {
        margin-top: 10px;
    }

    .footer-copywrite p {
        padding: 10px;
    }

    .footer-social {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20px;
    }

    .footer-social__img {
        margin: 0;
        margin-top: 20px;
    }

    .footer-phone__text {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tech-box__img {
        max-width: 434px;
        height: 295px;
        top: 0;
    }

    .tech-box {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }

    .whyUs-facts__title {
        font-size: 24px;
        width: 100%;
    }

    .whyUs-fact__text {
        font-size: 14px;
    }

    .whyUs-fact__text span {
        font-size: 14px;
    }

    .whyUs-fact {
        height: unset;
    }

    .swiper-scrollbar-drag {
        width: 50px !important;
    }

    .reviewSlider {
        width: 100% !important;
    }

    .review-slide {
        width: 100% !important;
    }

    .why-us__bg {
        margin-top: 50px;
    }

    .whyUs-text__h3 {
        font-size: 24px;
        margin-top: 10px;
    }

    .whyUs-box img {
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }

    .bg-grey {
        padding: 30px 16px;
    }

    .whyUs-box {
        height: 180px;
        padding-top: 20px;
    }

    .clinic-staff {
        padding-top: 0;
    }

    .staff-info {
        width: 100%;
    }

    .staff-infoTabs {
        flex-direction: column;
    }



    .service-tabs {
        flex-direction: column;
    }

    .service-tab {
        width: 100%;
    }

    .clinic-title {
        font-size: 34px;
    }

    .clinic-box__up {
        flex-direction: column;
    }

    .clinic-mark {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .clinic-box__down {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }

    .mark-box {
        margin-top: 15px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .mb-100 {
        margin-bottom: 50px !important;
    }

    .mark-box__title {
        text-align: center;
    }

    .mark-box__info {
        text-align: center;
    }

    .info-tabs {
        flex-direction: column;
    }

    .often-accordion {
        margin-left: 0;
    }

    .service-tab__text_span i {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-image: url(../images/images/Arrow\ -\ Right.png);
        background-size: cover;
    }

    .header-map {
        display: flex;
        width: 100%;
        position: absolute;
    }

    .header-map__img {
        width: 40px;
    }

    .header-map__text {
        width: 207px;
        margin-left: 10px;
    }

    .map-regText {
        font-size: 14px;
    }

    .main-tab__box {
        width: 90px;
        height: 90px;
        justify-content: center;
    }

    .main-tab__box img {
        width: 70px;
        left: unset !important;
    }

    .active-header {
        display: flex !important;
    }
}

@media screen and (max-width: 375px) {

    .service-tab {
        padding: 20px 10px;
    }

    .service-tab__text_span i {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-image: url(../images/images/Arrow\ -\ Right.png);
        background-size: cover;
    }

    /* .service-tab__text_span {
        font-size: 18px;
    } */

    /* .service-tab__text p {
        font-size: 12px;
    } */

    .swiper-scrollbar-drag {
        width: 20px !important;
    }

    .whyUs-text__h3 {
        font-size: 18px;
    }

    .whyUs-box img {
        width: 30px;
        height: 30px;
        margin-top: 30px;
    }

    .whyUs-box {
        height: 180px;
        padding-top: 20px;
    }

    .clinic-title {
        font-size: 30px;
    }

    .review-slide {
        width: 100% !important;
    }

    .review-title {
        font-size: 24px;
    }

    .review-box {
        flex-direction: column;
    }

    .review-subtitle {
        font-size: 14px;
    }

    .review-textBox {
        margin: 0;
    }

    .review-btnText {
        font-size: 14px;
    }

    .review-btnText span {
        font-size: 14px;
    }

    .review-btn {
        width: 70px;
        height: 70px;
    }

    .review-btn::before {
        width: 70px;
        height: 70px;
    }

    .review-btnInner {
        width: 50px;
        height: 50px;
    }

    .review-btnInner img {
        width: 30px;
        height: 35px;
        position: relative;
        left: 4px;
        top: 3px;
    }

    .review-btnBox {
        margin-top: 20px;
    }

    .often-questions {
        display: flex;
        flex-direction: column;
    }

    .questions__phoneBox {
        width: 80px;
        height: 80px;
    }

    .questions__phoneBox_inner {
        height: 60px;
        width: 60px;
    }

    .questions__phoneBox_innerContent {
        width: 40px;
        height: 40px;
    }

    .questions__phoneBox_innerContent img {
        width: 20px;
    }

    .questions__img {
        width: 245px;
        height: 245px;
    }

    .questions__imgBox {
        width: 100%;
        height: 190px;
    }

    .questions__img {
        margin-left: 70px;
    }

    .often-accordion {
        margin-left: 0;
    }

    .accordion-panel {
        padding: 0;
    }

    .clinic-staff {
        display: flex;
        flex-direction: column;
    }


    .certificate-slider {
        /* display: none */
    }

    .staff-name {
        font-size: 22px;
    }

    .staff-occupation {
        font-size: 14px;
    }

    .staff-univImg {
        width: 50px;
        height: 50px;
    }

    .staff-univTitle {
        font-size: 14px;
    }

    .staff-univP {
        font-size: 12px;
    }

    .staff-univText {
        width: 100%;
    }

    .staff-card__info {
        width: 100%;
    }

    .staff-list {
        font-size: 12px;
        width: 100%;
    }

    .staff-edu {
        align-items: center;
    }

    .staff-list__blue {
        font-size: 12px;
    }

    .staff-info__btn {
        width: 100%;
        padding: 20px;
    }


}

@media screen and (max-width: 320px) {
    .logo-eye {
        width: 170px;
    }

    .tech-box__img {
        max-width: 434px;
        height: 230px;
        top: unset;
    }

    .clinic-box__down {
        margin-top: 40px;
    }

    .mark-img {
        width: 80px;
        height: 80px;
    }

    .clinic-mark {
        align-items: center;
    }
}